@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-tap-highlight-color: transparent;
  @apply scroll-smooth dark:bg-[#0F1624] bg-slate-50  transition-colors;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,h2,h3,h4{
   font-family: "Expletus Sans", sans-serif;
}

/* Navbar */
/* Sidebar */
.sidebar {
  @apply bg-white/[0.25] dark:bg-black/[0.25] filter backdrop-blur-sm text-gray-800 dark:text-white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply py-[2rem]  px-[10px];
}
.logo {
  @apply text-[20px] font-bold;
}
.bars {
  width: 20px;
  @apply text-[20px];
}

.Red {
  @apply bg-[#43aaf4f2] dark:bg-[#ed0000b3] font-bold;
}
@media screen and (min-width: 1024px) {
  .navClose {
    @apply ml-[5rem];
  }
  .navOpen {
    @apply ml-[15rem];
  }
}

/* Font Family */
.Font-exp {
  font-family: "Expletus Sans", sans-serif;
}
.Font-mulish {
  font-family: "Mulish", sans-serif;
}

.DarkRed {
  @apply text-[#ED0100];
}
.DarkBlue {
  @apply text-[#43AAF4];
}
.Center {
  @apply flex justify-center items-center;
}

/* Tabs */
.Root {
  width: 100%;
  height: 100%;
  padding: 0px !important;
  font-family: "Mulish", sans-serif !important;
  background-position: center center;
}
.MuiBox-root {
  padding: 0 !important;
}
.LabelText {
  font-size: 14px;
}
.Tabs {
  color: #fff;
}
.AppBar {
  @apply border border-white;
  border-radius: 5px;
  background-color: var(--active-cardColor) !important;
  color: white !important;
  font-family: "Mulish", sans-serif !important;
}
.Indicator {
  border-radius: 3px 3px 0px 0px;
  height: 8px !important;
}
.MuiTabs-indicator {
  background-color: rgb(185 28 28) !important;
  height: 5px !important;
  border-radius: 5px !important;
}

/* Ribbon */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 80px;
  height: 80px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#a90508 0%, #a90508 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #a90508;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #a90508;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #a90508;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #a90508;
}

/* ribbon 2 */
.ribbon2 {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: -5px;
  left: 20px;
  border: solid 15px #a90508;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.ribbon2:hover {
  height: 65px;
}

.ribbon2:active {
  border-color: #a90508;
  border-bottom-color: transparent;
}

/* ribbon 3 */
.ribbon3 {
  position: absolute;
  left: var(--right, 10px);
  top: var(--top, -3px);
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}
.ribbon3 > .content {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  background: var(--color, #A90508) linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  width: var(--width, 32px);
  min-height: var(--height, 36px);
  transition: clip-path 1s, padding 1s, background 1s;
}
.ribbon3 > .content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
}