@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply scroll-smooth dark:bg-[#0F1624] bg-slate-50 h-full transition-colors;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navbar */
/* Sidebar */
.sidebar {
  @apply bg-white/[0.25] dark:bg-black/[0.25] filter backdrop-blur-sm text-gray-800 dark:text-white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply py-[2rem]  px-[10px];
}
.logo {
  @apply text-[20px] font-bold;
}
.bars {
  width: 20px;
  @apply text-[20px]
}

.Red {
  @apply bg-red-500;
}
@media screen and (min-width: 1024px) {
  .navClose {
    @apply ml-[5rem];
  }
  .navOpen {
    @apply ml-[15rem];
  }
}

/* Font Family */
.Font-exp {
  font-family: "Expletus Sans", sans-serif;
}
.Font-mulish {
  font-family: "Mulish", sans-serif;
}
.Font-pop {
  font-family: "Kaushan Script", sans-serif;
}
.DarkRed{
  @apply text-[#ED0100];
}
.Center{
  @apply flex justify-center items-center;
}